body {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.card {
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 79px;
  height: 123px;
  background-image: url(cards.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  border: none;
}

#container {
  margin: auto;
  padding: 0px;
  width: 700px;
  position: relative;
}

#header {
  position: relative;
}

#step-button {
  margin-left: 50px;
}

#cards {
  position: relative;
  width: 450px;
  height: 450px;
  float: left;
}

#row-selection {
  width: 220px;
  height: 450px;
  float: left;
  margin-left: 10px;
  position: relative;
}

#row-selection div {
  position: absolute;
  left: 0;
}

#row-selection div:first-child {
  top: 70px;
}

#row-selection div:nth-child(2) {
  top: 220px;
}

#row-selection div:nth-child(3) {
  top: 370px;
}