@import "../../../third-js/reveal.js/css/reveal.css";
@import "../../../third-js/reveal.js/css/theme/black.css";
@import "../../../third-js/reveal.js/lib/css/zenburn.css";

.cover {
  text-align: left;

}

.cover h1 {
  font-size: 2em;
  color: #66aab6;
  line-height: 0.7em;
  font-weight: 300;
  text-transform: none !important;
}

.cover h2 {
  font-size: 0.8em;
  color: #DED781;
  font-weight: 300;
  text-transform: none !important;
}